.button {
  padding: 6px 16px;
  color: hsl(0deg 0% 100%);
  cursor: pointer;
  background-color: hsl(207deg 100% 50%);
  border: none;
  border-radius: 4px;

  &:hover {
  background-color: hsl(207deg 100% 60%);
  }
}

.add {
  padding-inline: 24px;
}

.delete {
  color: #fff;
  background-color: #f14253;

  &:hover {
    background-color: hsl(13deg 100% 60%);
}
}

.incomplete {
  cursor: default;
  background-color: hsl(0deg 0% 70%);

  &:hover {
    background-color: hsl(0deg 0% 60%);
  }
}